.editorLayoutContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Para que ocupe el espacio disponible en mainContent */
  position: relative; /* Para que el EditorStepper flotante se posicione correctamente */
  overflow: hidden;
}

.editorContent {
  flex-grow: 1; /* El contenido de la página ocupa el espacio restante */
  padding-top: 60px; /* Espacio para el EditorStepper si es flotante y está arriba. Ajusta según tu diseño del Stepper. */
  /* Si el Stepper no es flotante o está en otro lugar, este padding puede no ser necesario o diferente. */
  overflow-y: auto; /* Permite scroll en el contenido si excede la altura */
}
