@import "./colors.module.css";

.container {
  background-color: var(--color-bg); /* fondo base */
  color: var(--color-text);
  font-family: "Inter", sans-serif;
  height: 100%;
  overflow: hidden;
}

.header {
  background-color: var(--color-dark);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Asegura que el header esté por encima de otros contenidos */
  flex-shrink: 0; /* Evita que el header se encoja */
  position: relative;
}

.title {
  font-size: 1.5rem;
  color: var(--color-accent);
  font-weight: bold;
  text-decoration: none;
}

.nav a {
  color: var(--color-text);
  margin-left: 1rem;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.userInfo {
  font-size: 0.875rem;
  color: var(--color-accent);
}

.mainContent {
  flex-grow: 1; /* Permite que el main ocupe el espacio restante */
  overflow-y: auto; /* Permite el scroll vertical SI el contenido excede la altura */
  padding: 20px; /* Añade un poco de espacio alrededor del contenido principal */
  display: flex; /* Para que el hijo directo (ej. editorLayoutContainer) pueda usar flex-grow */
  flex-direction: column; /* Los hijos se apilan verticalmente */
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
